version: "3.8"

services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    env_file:
      - .env-default
      # - .env
    environment:
      - DB_PATH=/app/data/storage.db
    restart: unless-stopped
